include *.txt
include *.md
include *.py

recursive-include .\package_ml\*

include package_ml\datasets\*.csv
include package_ml\trained_models\*.pkl 
include package_ml\processing\*.py 
include package_ml\VERSION 
include .\tests\* 

recursive-exclude *__pycache___
recursive-exclude * *.py[co] 